*,
html{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f8bf;
    margin: 0;
    padding: 0;
}

.header-background {
    background-image: url(https://pict.sindonews.net/dyn/850/pena/news/2022/06/13/45/796595/agama-warga-negara-korea-selatan-dan-persentasenya-kab.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px ;
}

header h1 {
    font-size: 36px;
}

nav {
    background-color: #f8d2ef;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 4%;
    background-color: rgb(201, 203, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar .logo a{
    margin-left: 2rem;
    font-weight: 700;
    color: rgb(143, 255, 51);
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.navbar .logo a span{
    color: #fff;
}
.navbar .navbar-nav a{
    display: inline-block;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1rem;
    color: rgb(165, 42, 155);
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
}

#menu{
    display: none;
}

main {
    padding: 20px;
}
.container{
    position: relative;
    background: #FFC600;
}
.slide-1{
    background: url(https://images.tokopedia.net/img/cache/700/VqbcmM/2020/12/18/439a0f04-dac8-48f6-bf8c-a553b61fb0f4.jpg);
}
.slide-2{
    background: url(https://images.tokopedia.net/blog-tokopedia-com/uploads/2019/08/Blog_Review-Nature-Republic-Aloe-Vera-Sebagus-Itu-Kah-Khasiatnya.jpg);
}
.slide-3{
    background: url(https://image.femaledaily.com/dyn/640/images/prod-pics/product_1615356171_Snail_True_800x800.jpg);
}
.slide-4{
    background: url(https://mamasuka.com/assets/images/recipes/20230808093322.jpg);
}
.slide-5{
    background: url(https://img-global.cpcdn.com/recipes/df7079cc96550b76/680x482cq70/gimbab-kimbab-foto-resep-utama.jpg);
}
.slide{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.caption{
    background: #15222c14;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 0px;
}
.caption h2{
    color: #fff7f7;
    text-align: center;
    font-size: 50px;
    padding: 18px;
    text-shadow: 10px 10px 20px rgb(1, 1, 3, 0.7);
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
    background: rgba(0, 0, 0, 0, .1);
    border-radius: 50%;
    transform: background 500ms;
}
.arrow img{width: 50px;}
.arrow:hover{background: rgba(0, 0, 0, 0, .4);}
.l{left: 0;}
.r{right: 0;}

.subjudul h2{
    margin: 8rem;
    font-size: 50px;
}

.subjudul p{
    margin: 4rem;
    font-size: 20px;
    text-align: center;
}
.center-form {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.booking-form {
    padding: 28px;
    border: 1px solid #ceff80;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form {
    text-align: left;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input,
form select,
form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #c131ff;
    border-radius: 5px;
}
@media screen and (max-width: 2000px){
    html{
        font-size: 75%;
    }

    #menu{
        display: inline-block;
    }

    .navbar{
        padding: 1.8rem 4%;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgb(124, 174, 255);
        width: 30rem;
        height: 100vh;
    }

    .navbar .navbar-nav .active{
        right: 0;
        transition: 1s;
    }
    .navbar .navbar-nav a{
        font-size: large;
        color: #fff;
        display: block;
        margin: 1.4rem;
    }
    .navbar .navbar-nav a:hover{
        color: #FFC600;
        font-size: 1.6rem;
    }
}