body {
    background-image: url(https://www.wowkeren.com/display/images/photo/2020/11/25/00340997.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    width: 1000px;
    margin: 20px;
    background-color: rgb(251, 255, 149);
    border: 5px dotted rgb(255, 95, 27);
    text-align: center;
}
/* buat isi */
h1 {
    background-color: rgb(108, 255, 147);
    color: rgb(25, 4, 130);
    text-align: center;
}
h2 {
    background-color: rgb(129, 205, 255);
    color: rgb(25, 4, 130);
    text-align: center;
}
p{
    padding: 10px;
    text-align: justify;
    color: rgb(166, 0, 255);
}
