* {
    font-family: "Oswald";
    line-height: 20px;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.layar-dalam {
    width: 1000px;
    margin: auto;
} 
.layar-penuh {
    width: 100%;
}
nav .txt {
    color: aquamarine;
}
/* bagian nav */
nav {
    z-index: 100;
    text-align: center;
    position: fixed;
    border-bottom: 3px solid rgb(255, 255, 255);
    line-height: 70px;
    width: 100%;
    transition: background-color 0.5s ease;
}
nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}
nav .logo img {
    vertical-align: middle;
    width: 95px;
    height: 110px;
}
nav .menu {
    float: inline-end;
    max-width: 800px;
}
nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}
nav ul li a {
    font-family: "Bowlby One SC";
    color: red;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
/* buat header */
header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}
header .intro {
    z-index: 100;
    color: rgb(255, 242, 0);
    text-align: center;
    position: relative;
    top: 50%;
}
header .intro h3 {
    font-family: "Acme";
    font-size: 50px;
    margin: 0;
    padding: 0;
}
header .intro p{
    font-family: "Acme";
    font-size: 30px;
}
/* buat engga keterangan webnya*/
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}
/* tombol more info*/
.tombol {
    background-color: blue;
    height: 40px;
    line-height: 42px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 10px;
}
.tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}
.tombol-menu .garis {
    height: 3px;
    background-color: red;
}
/* menu about ada tambahan dari menu lain (tanda, di #) */
section {
    padding: 40px 0px 50px 0px;
}
section h2 {
    font-family: "Bakbak One";
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
}
section h2::after {
    content: "";
    border-bottom: 5px solid blue;
    width: 52px;
    display: block;
    margin: 20px auto;
    letter-spacing: 1px;
}
#aboutus,
#guru {
    text-align: center;
    font-family: "Bakbak One";
}
section p.ringkasan {
    font-style: italic;
    color: crimson;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 1px;
}
section .konten-isi h3 {
    text-align: center;
    font-family: "Belanosimas";
    color: blue;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
}
section .konten-isi p {
    font-style: "Fjalla One";
    text-align: left;
    font-size: 18px;
    color: rgb(0, 0, 0);
    line-height: 1.3;
}
section .konten-isi p li {text-align: left;}
nav.putih {
    background-color: rgb(255, 255, 255);
}
/* kalo scroll saat minimize menunya ubah warna*/
nav.putih .tombol-menu .garis {
    background-color: red;
}
nav .logo img.hitam {
    display: none;
}
/* menu activity ada tambahan dari menu lain (tanda, di .) */
section.abuabu {
    background-color: rgb(251, 255, 196);
}
.activity, 
.guru,
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.activity h3,
.guru h3 {
    font-family: "Bakbak One";
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-size: 25px;
    font-weight: bold;
    color: blue;
    letter-spacing: 1px;
}
.activity img {
    width: 55px;
}
.activity div,
.guru div {
    text-align: center;
    width: 30%;
}
.activity p {
    color: black;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 1px;
}
/* menu gallery */
section#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: scroll;
    padding: 5px 0px 5px 0px;
}
section#gallery div {
    padding: 10px;
}
section#gallery div img {
    height: 250px;
    border-radius: 5px;
}
section#gallery div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}
/* menu guru */
.guru img {
    width: 100%;
    box-shadow: 0px 5px 15px rgb(255, 253, 128);
    border-radius: 5px;
}
.guru div h2 {
    text-align: center;
    line-height: 1.5;
}
.guru div span {
    font-size: 18px;
    line-height: 1.8;
}
/* menu pendaftaran */
.form h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Bakbak One";
    line-height: 1.5;
}
.pdf p{
    font-family: "Bakbak One";
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: red;
    letter-spacing: 1px;
    text-align: center;
}
.pdf iframe {
    width: 1000px;
    height: 300px;
    margin-left: 150px;
}
/* footer */
footer {
    padding: 20px 20px 20px 0px;
    background-color: rgb(181, 212, 255);
}
footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
footer .layar-dalam div {
    width: 60%;
}
footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: blue;
}
/* copyright */
footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 3px solid rgb(229, 247, 24);
    text-align: center;
}

/* tampilan web & menu*/
@media screen and (max-width:991.98px) {
    .layar-dalam {
        width: 90%;
    }
    nav .menu ul {
        display: none;
        margin-top: 60px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 2px solid red;
        background-color: rgb(246, 255, 83);
        line-height: 40px;
    }
    nav .menu li a {
        color: blue;
    }
    .tombol-menu {
        display: flex;
    }
    .activity {
        display: block;
    }
    .activity div {
        width: 100%;
        padding-bottom: 30px;
    }
    header .intro h3 {
        letter-spacing: 3px;
        line-height: 1;
    }
    .form h2 {
        letter-spacing: 3px;
        line-height: 1;
    }
    .pdf iframe {
        width: 550px;
        height: 400px;
        margin-left: 50px;
    }
}